absl-py==0.12.0
aiohttp==3.7.4.post0
alabaster==0.7.12
alembic==1.4.1
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
ascii-graph==1.5.1
astroid==2.7.3
async-generator==1.10
async-timeout==3.0.1
audioread==2.1.9
autopep8==1.5.2
av==8.0.3
Babel==2.9.1
bleach==3.3.0
boto3==1.17.60
botocore==1.20.60
brotlipy==0.7.0
cachetools==4.2.2
calmsize==0.1.3
catalogue==1.0.0
certifi==2020.12.5
click==7.1.2
cloudpickle==1.6.0
codecov==2.1.11
comet-ml==3.16.0
conda==4.10.1
conda-build==3.21.4
configobj==5.0.6
configparser==5.2.0
coverage==5.5
cxxfilt==0.2.2
cycler==0.10.0
Cython==0.28.4
databricks-cli==0.15.0
DataProperty==0.50.1
defusedxml==0.7.1
docker==5.0.2
docutils==0.16
dulwich==0.20.25
entrypoints==0.3
everett==2.0.1
flake8==3.7.9
Flask==1.1.2
flatbuffers==2.0
fsspec==2021.8.1
future==0.18.2
fvcore==0.1.5.post20210825
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.35.0
google-auth-oauthlib==0.4.6
greenlet==1.1.1
grpcio==1.37.0
gunicorn==20.1.0
h5py==3.2.1
html2text==2020.1.16
hypothesis==4.50.8
imageio==2.9.0
imagesize==1.2.0
inflect==5.3.0
iniconfig==1.1.1
iopath==0.1.9
ipdb==0.13.7
ipykernel==5.5.3
ipywidgets==7.6.4
isort==5.9.3
itsdangerous==1.1.0
jedi==0.17.0
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.1
jupytext==1.11.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
librosa==0.8.0
llvmlite==0.35.0
lmdb==1.2.1
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==0.6.2
MarkupSafe==1.1.1
matplotlib==3.4.1
mbstrdecoder==1.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.6
memory-profiler==0.58.0
mistune==0.8.4
mlflow==1.20.2
mlperf-compliance==0.0.10
msgfy==0.1.0
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netron==5.3.7
networkx==2.0
nltk==3.6.2
notebook==6.2.0
nvidia-dali-cuda110==1.0.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
onnx==1.10.2
onnxruntime==1.9.0
opencv-python==4.5.3.56
packaging==20.9
pandas==1.1.4
pandocfilters==1.4.3
parameterized==0.8.1
pathvalidate==2.4.1
Pillow==8.3.2
pkginfo==1.7.0
platformdirs==2.3.0
pluggy==0.13.1
polygraphy==0.29.1
pooch==1.3.0
portalocker==2.3.2
preshed==3.0.2
prettytable==2.1.0
progressbar==2.5
prometheus-client==0.10.1
prometheus-flask-exporter==0.18.2
protobuf==3.15.8
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycodestyle==2.5.0
pycosat==0.6.3
pycuda==2020.1
pyDeprecate==0.3.1
pydot==1.4.2
pyflakes==2.1.1
pylint==2.10.2
pynvml==8.0.4
pyparsing==2.4.7
pytablewriter==0.47.0
pytest==6.2.3
pytest-cov==2.11.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.1
python-editor==1.0.4
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==4.0.1
pytools==2021.2.6
pytorch-lightning==1.4.5
pytorch-memlab==0.2.3
pytorch-quantization==2.1.0
pytorch-transformers==1.1.0
pytorchvideo==0.1.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.1
QtPy==1.11.0
querystring-parser==1.2.4
regex==2021.4.4
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rsa==4.7.2
ruamel_yaml==0.15.87
s3transfer==0.4.2
sacrebleu==1.2.10
sacremoses==0.0.35
scikit-image==0.15.0
scikit-learn==0.24.2
semantic-version==2.8.5
Send2Trash==1.5.0
sentencepiece==0.1.95
smmap==4.0.0
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
sox==1.4.1
Sphinx==3.5.4
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.23
sqlparse==0.4.1
tabledata==1.1.3
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
torch==1.10.1
torchinfo==1.5.3
torchmetrics==0.5.1
torchvision==0.11.2
tornado==6.1
tqdm==4.53.0
typepy==1.1.5
typing-extensions==3.7.4.3
Unidecode==1.2.0
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==3.0.2
yacs==0.1.8
yarl==1.6.3
